* {
	box-sizing: border-box;
}
body {
  background: url("images/bg5.gif") repeat;
  margin: 0;
  font-family: arial;
  display: flex;
  justify-content: center;
  flex-flow:nowrap column;
}
ul {
	columns: 2;
}
.container {
	display: flex;
	flex-flow: wrap column;
	width: 100vw;
	height: 100%;
	align-content: center;
	/*z-index: -3;*/
}
.toolbar {
	display: flex;
	flex-flow: nowrap column;
	position: fixed;
	top:0;
	z-index: 1;
}
.webcontain {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-flow: nowrap row;
	/*z-index: -3;*/
}
.webpage {
	display: block;
	width: 65%;
	position:relative;
	top:48vh;
	flex-flow: wrap column;
	/*justify-content: center;
	align-items: center;*/
	/*z-index: -1;*/
	background-color: #424242;
	border: 10px double #ffb8dc;
	padding: 0px 10px 0px 10px;
	color: white;
	overflow: hidden;
	order: 2;
}
.menu {
	display: flex;
	width:15%;
	margin: 15px;
	height: 45vh;
	position:relative;
	top:50vh;
	flex-flow: nowrap column;
	padding: 5px;
	justify-content: center;
	align-items: center;
	font-size: 18pt;
	background-color: #ffb8dc;
	border: 10px double #424242;
	padding: 0px 10px 0px 10px;
	color: magenta;
	text-shadow: 1px 1px white;
	font-style: italic;
	overflow: hidden;
	order: 1;
}
a {
	color: black;
	/*z-index: 2;*/
}
a:hover {
	color: magenta;
}
img.toolbars {
	height: 45vh;
	width: 100vw;
	filter:drop-shadow(0px 1px 3px black);
}

img.site {
	position: relative;
	width:20vw;
}
.icon {
	   animation: marquee
	    15s linear 0s infinite;
	    white-space: nowrap;
}		
h1 {
	font-family: 'quicksand', sans-serif;
	font-weight: 400;
	font-size:4vw;
	padding: 0px 0px 0px 20px;
	overflow: nowrap;
}
.fun {
	   animation: marqueefun
	    14s linear 0s infinite;
	   white-space: nowrap;
	   display: inline-block;

}
#banner-images {
    position: relative;
    top: 45vh;
    padding:10px 0px 0px 0px;
 
}

img.fade-in {
	width: 65vw;
	height:13vh;
	border: 5px ridge white;
}

img.selfy {
	float:right;
	width: 30%;
	padding: 10px;
}

p.bio {
	padding: 10px;
}

.counter {
	position: fixed;
	top:56vh;
	left: 2px;
	border: 3px solid #03A3C6;
	border-radius: 10%;
}

@keyframes marquee {
    0% {
        transform: translate(650px,0)
    }

    100% {
       transform: translate(-750px,0)
    }
}

@keyframes marqueefun {
    0% {
        transform: translate(600px,0)
    }

    100% {
       transform: translate(-900px,0)
    }
}

@media (max-width:800px) {
	img.fade-in {
		width: 80vw;
	}
	.webpage, .menu{	
		top:45vh;
	}
	img.selfy {
		width:40%;
	}
		.menu {
		width:25vw
	}
}
@media (max-width: 600px){
	.webpage {
		width:55%
	}
	.menu {
		width:30vw
	}
	img.selfy {
		width:60%;
	}
}