* {
  box-sizing:border-box;
}

body {
  margin:0;
  /*background-color: #A8D2E8;*/
}
.bkg {
	background:radial-gradient(transparent, black);
	background-color: #A8D2E8;

	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	z-index: 2;

}
.eyebox {
	flex-flow: row nowrap;
	width: 100%;
	height:33%;
	justify-content: space-between;
	align-items: flex-start;
	padding:30vh 10vw 0px 10vw;
	display: flex;
}
.eye {
	width: 40px;
	height: 40px;
	border-radius: 120px;
	background:black;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	align-content: flex-start;
	padding:0px;
	opacity: 0.3;
}


.spotbox {
	flex-flow: row nowrap;
	width: 20%;
	height:33%;
	position: absolute;
	bottom: 11vh;
	justify-content: space-around;
	align-items: center;
	display: flex;
}
.spot {
	width: 10px;
	height: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	font-weight: 900;
	font-size: 30pt;
	opacity: 0.5;
}
.mouthbox {
	flex-flow: column nowrap;
	width: 98%;
	height:10%;
	position: absolute;
	bottom: 12vh;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 5px;

}
.mouth {
	/*width: 60px;
	height: 35px;
	background:black;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
      height: 30px;
      opacity: 0.3;

	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}