@font-face {
    font-family: 'dot_matrixregular';
    src: url('dotmatri-webfont.woff2') format('woff2'),
         url('dotmatri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 20px;
  background: #BECE60;
  color: white;
  font-family: 'dot_matrixregular';
}

h1 {
  color: white;
  font-weight: 300;
  font-family: 'quicksand', sans-serif;
  filter: blur(0.4px);
}
div.how {
  transform: rotate(15deg);
  color:black;
  text-shadow: 1px 1px white;
}
p {
  background: rgb(0,0,238);
background: linear-gradient(90deg, rgba(0,0,238,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 3px;
  border: 5px outset pink;
  padding:10px;
  font-size: 8pt
}
